.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    font: 1em sans-serif;
    background-color: #42454b;
    width: 100%;
    height: 50px;
    z-index: 2;
    font: 20px sans-serif;
    padding-left: 5%;
}

.country {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

p {
    font-size: 20px;
    text-align: justify;
    margin: 20px 20px;
}